body{
    text-align: center;
    background-image: linear-gradient(to bottom,black,white);
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.menu{
    background-color: #0d0d0d;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu2{
    text-decoration: none;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2px;
    padding-right: 2px;
}

.menu2:hover{
    color: violet;
}

.title {
    background: linear-gradient(to left,#3494e6, #ec6ead);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.textoa{
    background-color: lightgray;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 10px;
}

.imagem{
    width: 305px;
    height: 250px;
    float: left;
    border-radius: 10px;
}